<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Citas</title>
</head>
<body>
    <h1>Listado de Citas</h1>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Estilista</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
            <tr>
                <td>{{ cita.cliente }}</td>
                <td>{{ cita.estilista }}</td>
                <td>{{ cita.servicio }}</td>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora }}</td>
                <td>{{ cita.estado }}</td>
                <td>
                    <a href="{% url 'actualizarCita' cita.id %}">Editar</a>
                    <a href="{% url 'eliminarCita' cita.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>