{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbería Golovkin</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'imgs/barber1.png' %}">
</head>
<body>
    <!--Contenedor Logo-->
    <div class="containerLogo">
        <div class="boxLogoImagen">
            <a href="{% url 'index' %}"><img src="{% static 'imgs/barber1.png' %}" alt=""></a>
        </div>
        <!--Contenedor Nav-->
        <div class="container">
            <div class="boxNav"><a href="{% url 'index' %}">Inicio</a></div>
            <div class="boxNav"><a href="{% url 'listadoCitas' %}">Citas</a></div>
            <div class="boxNav"><a href="{% url 'listadoEstilistas' %}">Estilistas</a></div>
            <div class="boxNav"><a href="{% url 'servicios' %}">Servicios</a></div>
            <div class="boxNav">
              <a href="{% url 'reservaHora' %}">Reserva tu hora</a>
              <a href="{% url 'reservaHora' %}"><img src="{% static 'imgs/reserva.jpg' %}" alt=""></a>
              </div>
            <div class="boxNavInicioSesion"><a href="{% url 'registro' %}">Regístrate Aquí</a></div>
            </div>
        </div>
    </div>
    <!--Contenedor Carrusel-->
    <div class="containerCarrusel">
        <div class="boxCarrusel">
            <img src="{% static 'imgs/barberCarrusel(1).jpg'%}" alt="carruselIMG(1)"></a>
            <img src="" alt="carruselIMG(2)"></a>
            <img src="" alt="carruselIMG(3)"></a>
        </div>
        <!--Botones Izquierda y Derecha-->
        <button class="anterior">←</button>
        <button class="siguiente">→</button>
    </div>
    <!-- Contenedor Servicios-->
    <div class="containerServicios">
        <div class="boxServicio"><img src="{% static 'imgs/cortePelo.jpg'%}" alt=""><strong>Corte de Pelo Premium</strong></div>
        <div class="boxServicio"><img src="{% static 'imgs/barba.avif'%}" alt=""><strong>Recorte y Perfilado de Barba</strong></div>
    </div>
    <!--Contenedor Footer-->
    <div class="containerFooter">
        <!--Título Footer-->
        <div class="containerTituloFooter">
            <div class="boxTituloFooter">
                <strong>Barbería Golovkin</strong>
            </div>
        </div>
        <!--Contenedor Información Contacto-->
        <div class="containerInformacionContacto">
            <div class="boxContactoTitulo"><strong>Información de Contacto</strong></div>
            <div class="boxContactoReserva"><a href="{% url 'reservaHora' %}">Reservas</a></div>
            <div class="boxContacto">barberiagolovkin@gmail.com</div>
            <div class="boxContacto"></div>
        </div>
    </div>
</body>
</html>