{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbería Ponte Peluche</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Contenedor Logo-->
    <div class="containerLogo">
        <div class="boxLogoImagen">
            <a href="{% url 'index' %}"><img src="{% static 'imgs/barber1.png' %}" alt=""></a>
        </div>
        <!--Contenedor Nav-->
        <div class="container">
            <div class="boxNav"><a href="{% url 'index' %}">Inicio</a></div>
            <div class="boxNav"><a href="{% url 'listadoCitas' %}">Reservas</a></div>
            <div class="boxNav"><a href="{% url 'listadoEstilistas' %}">Estilistas</a></div>
            <div class="boxNav"><a href="{% url 'servicios' %}">Servicios</a></div>
            <div class="boxNav">
              <a href="{% url 'reservaHora' %}">Reserva tu hora</a>
              <a href="{% url 'reservaHora' %}"><img src="{% static 'imgs/reserva.jpg' %}" alt=""></a>
              </div>
            </div>
        </div>
    </div>
    <!--Contenedor Listado Citas-->
    <div class="containerListadoCitas">
      <div class="boxTituloListadoCitas"><h1>Listado de Citas</h1></div>
      <div class="boxContenedorTablaCitas">
        <div class="boxCitasFilas">Cliente</div>
        <div class="boxCitasFilas">Estilista</div>
        <div class="boxCitasFilas">Servicio</div>
        <div class="boxCitasFilas">Fecha</div>
        <div class="boxCitasFilas">Hora</div>
        <div class="boxCitasFilas">Estado</div>
        {% for c in citas %}
        <div class="data">{{ c.cliente }}</div>
        <div class="data">{{ c.estilista }}</div>
        <div class="data">{{ c.servicio }}</div>
        <div class="data">{{ c.fecha }}</div>
        <div class="data">{{ c.hora }}</div>
        <div class="data">{{ c.estado }}</div>
        {% endfor %}
      </div>
    </div>
    <!--Contenedor Footer-->
    <div class="containerFooter">
        <!--Título Footer-->
        <div class="containerTituloFooter">
            <div class="boxTituloFooter">
                <strong>Barbería Ponte Peluche</strong>
            </div>
        </div>
        <div class="containerInformacionContacto">
            <div class="boxContactoTitulo"><strong>Información de Contacto</strong></div>
            <div class="boxContacto"><strong>Reservas</strong></div>
            <div class="boxContacto"></div>
            <div class="boxContacto"></div>
        </div>
    </div>
</body>
</html>
