{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Radulín</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Contenedor Logo-->
    <div class="containerLogo">
        <div class="boxLogoImagen">
            <a href="{% url 'index' %}"><img src="{% static 'imgs/barber1.png' %}" alt=""></a>
        </div>
        <!--Contenedor Nav-->
        <div class="container">
            <div class="boxNav"><a href="{% url 'index' %}">Inicio</a></div>
            <div class="boxNav"><a href="{% url 'listadoCitas' %}">Reservas</a></div>
            <div class="boxNav"><a href="#">Estilistas</a></div>
            <div class="boxNav"><a href="{% url 'servicios' %}">Servicios</a></div>
            <div class="boxNav">
              <a href="{% url 'reservaHora' %}">Reserva tu hora</a>
              <a href="{% url 'reservaHora' %}"><img src="{% static 'imgs/reserva.jpg' %}" alt=""></a>
              </div>
            </div>
        </div>
    </div>
    <div class="contenedorFormReserva">
        <div class="boxTituloFormReserva"><h1>Reserva tu hora</h1></div>
        <div class="boxFormReserva">
            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit">Reservar</button>
            </form>
        </div>
    </div>
    <!--Contenedor Footer-->
    <div class="containerFooter">
        <!--Título Footer-->
        <div class="containerTituloFooter">
            <div class="boxTituloFooter">
                <strong>Barbería</strong>
            </div>
        </div>
        <div class="containerInformacionContacto">
            <div class="boxContactoTitulo"><strong>Información de Contacto</strong></div>
            <div class="boxContactoReserva"><a href="{% url 'reservaHora' %}">Reservas</a></div>
            <div class="boxContacto">barberiagolovkin@gmail.com</div>
            <div class="boxContacto"></div>
        </div>
    </div>
</body>
</html>