{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Radulín</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Contenedor Logo-->
    <div class="containerLogo">
        <div class="boxLogoImagen">
            <a href="{% url 'index' %}"><img src="{% static 'imgs/barber1.png' %}" alt=""></a>
        </div>
                <!--Contenedor Nav-->
                <div class="container">
                    <div class="boxNav"><a href="{% url 'index' %}">Inicio</a></div>
                    <div class="boxNav"><a href="{% url 'listadoCitas' %}">Reservas</a></div>
                    <div class="boxNav"><a href="#">Estilistas</a></div>
                    <div class="boxNav"><a href="{% url 'servicios' %}">Servicios</a></div>
                    <div class="boxNav">
                      <a href="{% url 'reservaHora' %}">Reserva tu hora</a>
                      <a href="{% url 'reservaHora' %}"><img src="{% static 'imgs/reserva.jpg' %}" alt=""></a>
                      </div>
                    </div>
                </div>
            </div>
    <!--Listado Servicios-->
    <div class="containerListadoServicios">
        <div class="boxListadoServicioTitulo"><strong>Servicios</strong></div>
        <div class="boxListadoServicio">
            <ul class="noPuntos">
                {% for s in servicio %}
                    <li>{{ s.nombre }} - ${{s.precio}}</li>
                {% empty %}
                    <li>No hay servicios disponibles.</li>
                {% endfor %}
            </ul>            
        </div>
    </div>
    <!--Contenedor Footer-->
    <div class="containerFooter">
        <!--Título Footer-->
        <div class="containerTituloFooter">
            <div class="boxTituloFooter">
                <strong>Barbería Golovkin</strong>
            </div>
        </div>
        <!--Contenedor Información Contacto-->
        <div class="containerInformacionContacto">
            <div class="boxContactoTitulo"><strong>Información de Contacto</strong></div>
            <div class="boxContacto"><a href="{% url 'reservaHora' %}">Reservas</a></div>
            <div class="boxContacto">barberiagolovkin@gmail.com</div>
            <div class="boxContacto"></div>
        </div>
    </div>
</body>
</html>